body{
    background-color: cadetblue;
    font: normal 15px Arial;
}

section{
    background-color: cornsilk;
    width: 500px;
    border-radius: 5px;
    padding: 15px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.397);
    margin-top: 50px;
}

footer{
    text-align: center;
    margin-top: 15px;
    font-style: italic;
    color: white;
}

h1{
    text-align: center;
    margin-top: 50px;
}